---
http_interactions:
- request:
    method: get
    uri: https://robotapitest.mrspeedy.ph/api/business/1.1/orders?status=completed
    body:
      encoding: UTF-8
      string: '{"status":"completed"}'
    headers:
      X-Dv-Auth-Token:
      - 70B4ABCA8A35AC50E1585E27F217DF160F740D46
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"is_successful":true,"orders":[],"orders_count":0}'
  recorded_at: Wed, 13 May 2020 14:47:45 GMT
recorded_with: VCR 5.1.0
